---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Landing from "../components/Landing.astro";
import HvemErJeg from "../components/HvemErJeg.astro";
import HvadErJegGodTil from "../components/HvadErJegGodTil.astro";
import HvadHarJegLavet from "../components/HvadHarJegLavet.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="da">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="En personlig professionel profil lavet under min uddannelse på KEA til søgning af praktikplads. Indeholder informationer om mig og mine evner.">
	<title>Julie Lilly Gyldenløve</title>
</head>
<body>
	<Header/>
	<main>
		<Landing/>
		<HvemErJeg/>
		<HvadErJegGodTil/>
		<HvadHarJegLavet/>
	</main>
	<Footer/>
</body>
</html>
