---
const { title, image, alt, description, link } = Astro.props;
---

<footer>
   <h3>Tak for besøget</h3>
   <ul>
    <li></li>
    <li></li>
    <li></li>
   </ul>
</footer>

<style>
    @layer components {

    }
  
  </style>