---

---

<header id="header">
    <nav>
      <ul class="header-destop">
        <li><a href="#hvemerjeg">Hvem er jeg?</a></li>
        <li><a href="#hvaderjeggodtil">Hvad er jeg god til?</a></li>
        <li><a href="#hvadharjeglavet">Hvad har jeg lavet?</a></li>
        <li><span></span></li>
        <li><a href="https://www.linkedin.com/in/julie-lilly-gyldenl%C3%B8ve-0870a6252/" target="_blank"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.2234 0H1.77187C0.792187 0 0 0.773438 0 1.72969V22.2656C0 23.2219 0.792187 24 1.77187 24H22.2234C23.2031 24 24 23.2219 24 22.2703V1.72969C24 0.773438 23.2031 0 22.2234 0ZM7.12031 20.4516H3.55781V8.99531H7.12031V20.4516ZM5.33906 7.43438C4.19531 7.43438 3.27188 6.51094 3.27188 5.37187C3.27188 4.23281 4.19531 3.30937 5.33906 3.30937C6.47813 3.30937 7.40156 4.23281 7.40156 5.37187C7.40156 6.50625 6.47813 7.43438 5.33906 7.43438ZM20.4516 20.4516H16.8937V14.8828C16.8937 13.5563 16.8703 11.8453 15.0422 11.8453C13.1906 11.8453 12.9094 13.2938 12.9094 14.7891V20.4516H9.35625V8.99531H12.7687V10.5609H12.8156C13.2891 9.66094 14.4516 8.70938 16.1813 8.70938C19.7859 8.70938 20.4516 11.0813 20.4516 14.1656V20.4516V20.4516Z" fill="#F3FAF3"/>
          </svg></a>
        </li>
        <li><a href="https://github.com/julielilly" target="_blank"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0099 0C5.36875 0 0 5.40833 0 12.0992C0 17.4475 3.43994 21.9748 8.21205 23.5771C8.80869 23.6976 9.02724 23.3168 9.02724 22.9965C9.02724 22.716 9.00757 21.7545 9.00757 20.7527C5.6667 21.474 4.97099 19.3104 4.97099 19.3104C4.43409 17.9082 3.63858 17.5478 3.63858 17.5478C2.54511 16.8066 3.71823 16.8066 3.71823 16.8066C4.93117 16.8868 5.56763 18.0486 5.56763 18.0486C6.64118 19.8913 8.37111 19.3707 9.06706 19.0501C9.16638 18.2688 9.48473 17.728 9.82275 17.4276C7.15817 17.1471 4.35469 16.1055 4.35469 11.458C4.35469 10.1359 4.8316 9.05428 5.58729 8.21304C5.46807 7.91263 5.0504 6.67043 5.70677 5.00787C5.70677 5.00787 6.72083 4.6873 9.00732 6.24981C9.98625 5.98497 10.9958 5.85024 12.0099 5.84911C13.024 5.84911 14.0577 5.98948 15.0123 6.24981C17.299 4.6873 18.3131 5.00787 18.3131 5.00787C18.9695 6.67043 18.5515 7.91263 18.4323 8.21304C19.2079 9.05428 19.6652 10.1359 19.6652 11.458C19.6652 16.1055 16.8617 17.1269 14.1772 17.4276C14.6148 17.8081 14.9924 18.5292 14.9924 19.6711C14.9924 21.2936 14.9727 22.5957 14.9727 22.9962C14.9727 23.3168 15.1915 23.6976 15.7879 23.5774C20.56 21.9745 23.9999 17.4475 23.9999 12.0992C24.0196 5.40833 18.6312 0 12.0099 0Z" fill="#F3FAF3"/>
          </svg></a>
        </li>
      </ul>
      <div class="header-mobile">
        <div class="hamburger">
          <span class="line_one"></span>
          <span class="line_two"></span>
          <span class="line_three"></span>
        </div>
      </div>
      <ul class="menu">
        <li><a href="#hvemerjeg">Hvem er jeg?</a></li>
        <li><a href="#hvaderjeggodtil">Hvad er jeg god til?</a></li>
        <li><a href="#hvadharjeglavet">Hvad har jeg lavet?</a></li>
        <div>
          <li><a href="https://www.linkedin.com/in/julie-lilly-gyldenl%C3%B8ve-0870a6252/" target="_blank"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.2234 0H1.77187C0.792187 0 0 0.773438 0 1.72969V22.2656C0 23.2219 0.792187 24 1.77187 24H22.2234C23.2031 24 24 23.2219 24 22.2703V1.72969C24 0.773438 23.2031 0 22.2234 0ZM7.12031 20.4516H3.55781V8.99531H7.12031V20.4516ZM5.33906 7.43438C4.19531 7.43438 3.27188 6.51094 3.27188 5.37187C3.27188 4.23281 4.19531 3.30937 5.33906 3.30937C6.47813 3.30937 7.40156 4.23281 7.40156 5.37187C7.40156 6.50625 6.47813 7.43438 5.33906 7.43438ZM20.4516 20.4516H16.8937V14.8828C16.8937 13.5563 16.8703 11.8453 15.0422 11.8453C13.1906 11.8453 12.9094 13.2938 12.9094 14.7891V20.4516H9.35625V8.99531H12.7687V10.5609H12.8156C13.2891 9.66094 14.4516 8.70938 16.1813 8.70938C19.7859 8.70938 20.4516 11.0813 20.4516 14.1656V20.4516V20.4516Z" fill="#F3FAF3"/>
            </svg></a>
          </li>
          <li><a href="https://github.com/julielilly" target="_blank"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0099 0C5.36875 0 0 5.40833 0 12.0992C0 17.4475 3.43994 21.9748 8.21205 23.5771C8.80869 23.6976 9.02724 23.3168 9.02724 22.9965C9.02724 22.716 9.00757 21.7545 9.00757 20.7527C5.6667 21.474 4.97099 19.3104 4.97099 19.3104C4.43409 17.9082 3.63858 17.5478 3.63858 17.5478C2.54511 16.8066 3.71823 16.8066 3.71823 16.8066C4.93117 16.8868 5.56763 18.0486 5.56763 18.0486C6.64118 19.8913 8.37111 19.3707 9.06706 19.0501C9.16638 18.2688 9.48473 17.728 9.82275 17.4276C7.15817 17.1471 4.35469 16.1055 4.35469 11.458C4.35469 10.1359 4.8316 9.05428 5.58729 8.21304C5.46807 7.91263 5.0504 6.67043 5.70677 5.00787C5.70677 5.00787 6.72083 4.6873 9.00732 6.24981C9.98625 5.98497 10.9958 5.85024 12.0099 5.84911C13.024 5.84911 14.0577 5.98948 15.0123 6.24981C17.299 4.6873 18.3131 5.00787 18.3131 5.00787C18.9695 6.67043 18.5515 7.91263 18.4323 8.21304C19.2079 9.05428 19.6652 10.1359 19.6652 11.458C19.6652 16.1055 16.8617 17.1269 14.1772 17.4276C14.6148 17.8081 14.9924 18.5292 14.9924 19.6711C14.9924 21.2936 14.9727 22.5957 14.9727 22.9962C14.9727 23.3168 15.1915 23.6976 15.7879 23.5774C20.56 21.9745 23.9999 17.4475 23.9999 12.0992C24.0196 5.40833 18.6312 0 12.0099 0Z" fill="#F3FAF3"/>
            </svg></a>
          </li>
        </div>
    </ul>
    </nav>
  </header>

  <script>
    
    const icon = document.querySelector(".hamburger");
    const menu = document.querySelector(".menu");
    const menuLinks = document.querySelectorAll(".menu li a");

    icon.addEventListener("click", () => {
        icon.classList.toggle("clicked");
        menu.classList.toggle("show_menu");
    });

    // lukker menuen ved tryk på de tre interne links
    for (let i = 0; i  < 3; i++) {
      menuLinks[i].addEventListener("click", () => {
        icon.classList.toggle("clicked");
        menu.classList.toggle("show_menu");
      });
    }

    // When the user scrolls down 50px from the top of the document, resize the header's font size
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.documentElement.scrollTop > 40) {
        document.getElementById("header").classList.add("scroll");
      } else {
        document.getElementById("header").classList.remove("scroll");
      }
    }



</script>


<style>
    @layer components {

      header {
            /* height: var(--space-3xl); */
            height: var(--space-2xl);
            position: sticky;
            top: 0;
            z-index: 1;
            transition: 0.6s ease-out;
            /* transform-origin: left; */
            background-color: oklch(from var(--primary-1) l c h / 0  );
        }
      nav ul:not(.menu){
        height: 150px;
      }
      nav ul{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: var(--space-l);
        margin: auto 0;
        transition: 0.4s ease-out;

        li span {
            display: block;
            width: 0.063rem;
            height: 2.5rem;
            background: var(--secondary-100);
            rotate: 22.5deg;
        }
      }


      header.scroll {
        height: var(--space-2xl);
        /* background-color: oklch(from var(--primary-1) l c h / 0.9  ); */
        background-color: var(--primary-1);
        z-index: 100;

        nav ul:not(.menu){
          margin: var(--space-s) 0;
          height: calc(var(--space-2xl) * 0.5);
      }
    }
      svg {
        width: 1.25rem;
      }

      .header-mobile {
        padding: var(--space-m) 0;
        position: fixed;
        z-index: 2;
        .hamburger {
          --line-height: calc(var(--space-3xs) * 0.8);
          --burger-size: calc(var(--line-height) * 6.5);
          width: calc(var(--burger-size) * 1.5);
          height: var(--burger-size);
          cursor: pointer;
          position: relative;
          margin-left: calc(100vw - (var(--burger-size) * 1.5) - 4ch);
    
            span {
              position: absolute;
              height: var(--line-height);
              width: calc(var(--burger-size) * 1.5);
              background-color: var(--secondary-50);
              transform: rotate(0);
              transition: all .25s ease;
            }

            .line_one {
              top: calc(var(--burger-size) - var(--burger-size));
            }

            .line_two {
              top: calc(var(--burger-size) / 2);
            }

            .line_three {
              top: var(--burger-size);
            }
          }

      }

      .clicked .line_one {
          transform: translateY(calc(var(--burger-size) / 2)) rotate(45deg);
      }

      .clicked .line_two {
          opacity: 0;
      }

      .clicked .line_three {
          transform: translateY(calc(var(--burger-size) / -2)) rotate(-45deg);
      }
      
      .menu {   
        height: fit-content;
        flex-direction: column;
        padding: calc(var( --space-2xl) * 1.5) 0 var( --space-xl) 0;
        background: var(--primary-1);
        position: fixed;
        top: 0;
        z-index: 1;
        width: 87vw;

        transform: translateY(-100%);
        transition: all .5s ease;

        > div {
          display: flex;
          gap: var(--space-s);
        }

      }
      .show_menu {
      transform: translateY(0);
      }

      @media screen and (max-device-width: 650px) { 
          header nav .header-destop {
              display: none;
          }
      }
      @media screen and (min-device-width: 650px) { 
          header nav .menu, .header-mobile{
              display: none;
          }
      }
    }
  
  </style>