---

---

<section id="hvadharjeglavet">
    <h2>Hvad har jeg lavet?</h2>
    <div class="uddannelse">
        <h3>uddannelse</h3>
        <ul>
            <li>Folkeskole</li>
            <li>Viborg Friskole 2006 - 2011</li>
            <li>Viborg Privatskole 2012-2017</li>
        </ul>
        <ul>
            <li>gymnasium</li>
            <li>Århus HF og VUC 2018 - 2021</li>
        </ul>
        <ul>
            <li>videregående</li>
            <li>Københavns Erhvervsakademi</li>
            <li>Multimediedesigner 2023 - 2025</li>
        </ul>
    </div>
    <div>
        <h3>erhvervserfaring</h3>
        <ul>
            <li>KEA, København</li>
            <li>Tutor sep. 2024 - </li>
        </ul>
        <ul><li>Elgiganten, Glostrup </li><li>Sælger sep. 2022 - nov. 2022</li></ul>
        <ul><li>Jensens Bøfhus, Axeltorv </li><li>Chefværtinde apr. 2021 - dec. 2023</li></ul>
    </div>

</section>

<style>
    @layer components {
        .introduction {
            display: grid;
            grid-template-columns: 2fr 1fr;
            column-gap: var(--space-xl);

            img {
                grid-column: 2;
            }
        }
    }
</style>