---
import Projekt from "../components/Projekt.astro";
---

<section id="hvadharjeglavet">
    <h2>Hvad har jeg lavet?</h2>
    <p>et udpluk af mine projekter og nogle af de ting jeg fandt ekstra spændende</p>

   <Projekt title="IMPLEMENTER FIGMA PROTOTYPE" link="https://figmockup.netlify.app/" date="Septemper 2024">
    <div class="mockup-grid">
        <div><img src="/img/mockup1.jpg" alt=""></div>
        <div><img src="/img/mockup2.1.png" alt=""></div>
        <div><img src="/img/mockup2.2.png" alt=""></div>
        <div><img src="/img/mockup3.jpg" alt=""></div>
    </div>
    </Projekt>

   <Projekt title="Møllegades Boghandel" link="https://moellegadesboghandel.netlify.app/" date="Maj 2024">
    <div class="mollegades"><img src="/img/mollegades.jpg" alt=""></div>
    </Projekt>

   <Projekt title="Frøernes Hemmelighed" link="https://julielilly.dk/kea/04_animation/website/spil.html" date="Oktober 2023">
    <div class="before"><div class="spil"><img src="/img/spil.jpg" alt=""></div></div>
    </Projekt>

</section>

<style>
    @layer components {
        .mockup-grid {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: 1fr 44px 1fr 22px auto;

            > * {
                margin: 0;
                padding: 0;
                max-width: 17.5rem;
                position: relative;
            }

            div:first-child {
                grid-area: 1 / 2 / 3 / 5;
               
                &::before {
                    content: "css: scroll-snap-type, -align og -stop";
                    bottom: -2rem;
                    left: -1.5rem;
                }
                &::after {
                    bottom: -1.4rem;
                    left: -3rem;
                    rotate: 15deg;
                }
            }
            div:nth-child(2) {
                grid-area: 1 / 7 / 1 / 7;
                place-self: end;
                max-width: 4rem;
                margin-bottom: var(--space-s);
                &::after {
                    top: -3.2rem;
                    left: -2rem;
                    transform: scaleX(-1);
                    rotate: -90deg;
                }
            }
            div:nth-child(3) {
                grid-area: 2 / 6 / 4 / 9;
                &::before {
                    content: "html: popover, popovertarget";
                    top: -3rem;
                    left: -3.5rem;
                }
                &::after {
                    top: -1.4rem;
                    left: -2.2rem;
                    rotate: -20deg;
                }
            }
            div:nth-child(4) {
                grid-area: 5 / 3 / 6 / 6;
                &::before {
                    content: "css: animation-timeline og -range";
                    top: -3rem;
                    right: 4.5rem;
                }
                &::after {
                    top: -3.6rem;
                    right: 1.4rem;
                    rotate: 135deg;
                }
            }
        }

        div:has( > img)::before, .before::before {
            font-family: "Shadows Into Light", cursive;
            letter-spacing: 0.1ch;
            text-align: center;
            color: var(--secondary-50);
            position: absolute;
            z-index: 1;
        }

        div:has( > img)::after, .before::after {
            content: url("/img/arrow.svg");
            position: absolute;
            z-index: 1;
        }

        .mollegades, .spil {
            max-width: 70%;
            margin: auto;
            position: relative;
        }
        .before {
            position: relative;
        }

        .mollegades {
            padding-right: var(--space-3xl);
            &::before {
                content: "2. semester eksamen, en kombination af alt, \A vi lærte på andet semester ";
                white-space: pre;
                bottom: -4rem;
                right: 0;
            }
            &::after {
                bottom: -1rem;
                right: 3rem;
                rotate: -40deg;
                transform: scaleX(-1);
            }
        }
        .spil {
            &::before {
                content: "intro til css animationer";
                top: -2.5rem;
                right: -2rem;
            }
            &::after {
                top: -5rem;
                right: 6.3rem;
                rotate: -105deg;
                transform: scaleX(-1);
            }
        }
        .before {
            &::before {
                content: "intro til javaScript";
                bottom: -2rem;
                left: 2.5rem;
            }
            &::after {
                bottom: -0.5rem;
                left: 4.3rem;
                rotate: 0deg;
            }
        }

        @media (width <= 780px) { 
            .mockup-grid div:nth-child(2){  
                grid-area: 1 / 8 / 1 / 8;
                place-self: end start;
            }
        }
        @media (width <= 650px) { 
            .mockup-grid {  
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, auto);
                
                > div {
                    grid-area: auto / 1 / auto / 1 !important;
                    margin: 0;
                    max-width: 80%;
                }
                > div:not(:last-child) {
                    margin-bottom: var(--space-3xl);
                }
                div:first-child {
                    place-self: end;
                }
                div:nth-child(2) {
                    place-self: center !important;
                    margin-bottom: 2rem;
                    &::after {
                    top: 2.4rem;
                    right: -4.7rem;
                    rotate: 130deg;
                    transform: scaleX(1);
                }
                }
                div:nth-child(3) {
                    place-self: end;
                    &::before {
                        content: "html: popover, popovertarget";
                        top: -2rem;
                        left: -.5rem;
                    }
                }
                div:nth-child(4) {
                    place-self: center;
                }
            }
            .mollegades, .spil {
                max-width: 85%;
            }
            .mollegades {
                padding-right: 0;
                margin: 0;
                &::before {
                    right: -3rem;
                }
                &::after {
                    right: -2.5rem;
                    rotate: -10deg;
                }
            }
            .before {
                &::after {
                    bottom: -2rem;
                    left: -0.5rem;
                    rotate: -10deg;
                }
            
            }
    }
  
  </style>