---

---

<section id="hvaderjeggodtil">
    <h2>Hvad er jeg god til?</h2>
    <p>Gennem min uddannelse har jeg opbygget kompetencer inden for multimediedesign, hvor vi især har haft fokus på responsivitet og bæredygtighed i alle projekter. <br> Når det kommer til design, har vi arbejdet med Figma, mens vi i frontend-udvikling har brugt moderne frameworks og biblioteker som Astro, React og Next.js for at skabe dynamiske og effektive løsninger.</p>
    <p>Derudover har jeg dykket grundigt ned i html, css og javaScript. </p>
    <div class="code-section">
        <code>let færdigheder = &#123;
                html: "at strukturere indhold",
                css: "at tilføje stil",
                js: "at gøre det interaktivt"
                &#125;
        </code>
        <code>function visFærdigheder() &#123;
                let skillsText = `Jeg arbejder med HTML ved $&#123færdigheder.html&#125;, CSS ved $&#123færdigheder.css&#125;, og JavaScript ved $&#123færdigheder.js&#125;.`;
                document.getElementById("my-skills").innerText = skillsText;
            &#125;
        </code>
        <code>visFærdigheder();</code>
    </div>
    <a target="_blank" href="https://codepen.io/julielilly/pen/QWeWYYe?editors=0010"><button>Se resultatet på codepen</button></a>

</section>

<style>
    @layer components {
        .introduction {
            display: grid;
            grid-template-columns: 2fr 1fr;
            column-gap: var(--space-xl);

            img {
                grid-column: 2;
            }
        }
        button {
            margin-left: calc(var(--space-s) + 0.125rem );
        }

        code {
            display: block;
            white-space: pre-line;
            line-height: 2;
            background-color: var(--secondary-950);
            padding: var(--space-xs);
            margin: 0 var(--space-s);
}
    }
</style>