---

---

<section id="hvemerjeg">
    
    <div class="introduction">
        <div>
            <h2>Hvem er jeg?</h2>
            <p>Jeg er <span>23 år</span> og bor i <span>København</span>. Jeg har en stor kærlighed til <span>naturen</span> og alt, hvad der rummer <span>kreativitet</span>. For nylig har jeg også opdaget min passion for <span>kodning</span>, hvor jeg nyder at se mine ideer tage form og blive til virkelighed. </p>
            <p>Jeg sætter stor pris på <span class="animate">struktur</span> og orden, både i min hverdag og i mit arbejde med kodning. Jeg trives i teams, hvor jeg mener, vi kan lære meget mere ved at sparre og dele viden med hinanden. </p>
            <p>Jeg er også en person, der virkelig nyder at <span>hjælpe</span> andre og altid stræber efter at <span>udvikle</span> mig selv. Derfor arbejder jeg som <span>tutor</span> ved siden af mit studie, hvor jeg hjælper mine medstuderende med deres udfordringer.</p>
        </div>
        <img src="/img/profile.webp" alt="portræt af mig">
    </div>

</section>

<style>
    @layer components {
        .introduction {
            display: grid;
            grid-template-columns: 3fr 2fr;
            column-gap: var(--space-xl); 
        }
        .introduction img {
            margin-top: var(--space-l);
            border: solid 30px var(--secondary-950);
            max-width: 310px;
            place-self: end;
        }
        .introduction span {
            color: var(--secondary-300);
        }

        @media screen and (max-device-width: 650px) { 
            .introduction {
            grid-template-columns: 1fr;
          }
        }
        @media screen and (min-device-width: 650px){ 
            .introduction img {
                grid-column: 2;
            }
        }

        .introduction .animate {
            color: var(--secondary-50);
            display: inline-block;
            transform-origin: left;
            rotate: 15deg;

            animation: --tilt linear both;
            animation-timeline: view(block);
            animation-range: contain 35% contain 50%;
        }

        @keyframes --tilt {
            to {
                rotate: 0deg;;
                color: var(--secondary-300);
            }
        } 
    }
</style>