---
const { title, link, date } = Astro.props;
---

<article>
    <div>
        <div class="projekt-header">
            <h3>{title}</h3>
            <span></span>
            <p class="handwritten">{date}</p>
        </div>
        <a href={link} target="_blank"><button>Besøg hjemmeside</button></a>
    </div>
    <slot/>
    
</article>

<style>
    @layer components {

        article:last-child > div {
            padding: var(--space-l) 0;
        }
        .projekt-header {
            display: flex;
            align-items: center;
            gap: var(--space-s);
            
            span {
                display: block;
                width: 0.063rem;
                height: 3rem;
                background: var(--secondary-100);
                rotate: 22.5deg;
            }
            .handwritten {
                font-family: "Shadows Into Light", cursive;
            }

            > * {
                margin: 0;
            }
        }

        article {
            margin-bottom: var(--space-3xl);
            > div {
                margin: 0 var(--space-s) var(--space-2xl) var(--space-s);
            }
            
        }
        @media (width <= 650px) { 
            .projekt-header {
                flex-direction: column;
                align-items: start;

                span {
                    display: none;
                }
            }

            article {
                margin-top: var(--space-l);

                > div {
                margin: 0 0 var(--space-2xl) 0;
            }
            }
        
        }
    }
  </style>